<h2>The Apartments</h2>

<table>
    <th>
        Id
    </th>

    <th>
        Number
    </th>

    <th>
        Delete
    </th>

    <tr *ngFor = "let apartment of apartments">

        <td [routerLink] = "['/byApartment', apartment.apartmentId]">
            {{apartment.apartmentId}}
        </td>
        <td [routerLink] = "['/byApartment', apartment.apartmentId]">
            {{apartment.apartmentNumber}}
        </td>
        
        <button class = "delete-btn" (click) = "delete(apartment)">
            X
        </button>
    </tr>

</table>


<form [formGroup]="apartmentForm" (ngSubmit)="add()">
    Add New Building<br>
    <label>Apartment Number: </label>
    <input type = "text" formControlName = "apartmentNumber">
    <input type = "submit" value = "Add Apartment">

</form>

