<h2>The Buildings</h2>

<form [formGroup]="buildingForm" (ngSubmit)="add()">
<table>
    <th>
        Id
    </th>

    <th>
        Address
    </th>

    <th>
        Delete
    </th>

    <tr *ngFor = "let building of buildings" >

            <td [routerLink] = "['/byBuilding', building.buildingId]">
                {{building.buildingId}}
            </td>
            
            <td [routerLink] = "['/byBuilding', building.buildingId]">
                {{building.address}}
            </td>  

        <td>
            <button class = "delete-btn"
                    (click) = "delete(building)">
                X
            </button>
        </td>

    </tr>

        <tr class = "submit-row">
            <td></td>

            <td>
                <input type = "text" formControlName = "address">
            </td>
            <td>
                <input type = "submit" value = "Add Building">
            </td>

        </tr>
 

</table>
</form>



