<h2>The Buildings</h2>

<table>
    <th>
        Id
    </th>

    <th>
        Address
    </th>

    <th>
        Delete
    </th>

    <tr *ngFor = "let building of buildings" >
            <td [routerLink] = "['/byBuilding', building.buildingId]">
                {{building.buildingId}}
            </td>
            <td [routerLink] = "['/byBuilding', building.buildingId]">
                {{building.address}}
            </td>  

        <td>
            <button class = "delete-btn"
                    (click) = "delete(building)">
                X
            </button>
        </td>

    </tr>

</table>

<form [formGroup]="buildingForm" (ngSubmit)="add()">
    Add New Building
    <label>Address: </label>
    <input type = "text" formControlName = "address">
    <input type = "submit" value = "Add Building">

</form>

