<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>All Buildings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>List All Buildings</h1>
<tr th:each="building: ${buildings}">
    <a th:href="@{/buildings/{id}(id = ${building.buildingId})}" >
    Id: <td th:text="${building.buildingId}" />,
    Address: <td th:text="${building.address}" />
        <td> <a th:href="@{/buildings/delete/{id}(id=${building.buildingId})}"> Delete </a> </td>
    </a>
    <br/>
</tr>
</body>
</html>