<h2>The Payments</h2>

<table>
    <th>
        Id
    </th>
    <th>
        Amount
    </th>
    <th>
        Month
    </th>
    <th>
        Delete
    </th>
    <tr *ngFor = "let payment of payments">
        <td>
            {{payment.paymentId}}
        </td>
        <td>
            {{payment.paymentAmount}}  
        </td>
        <td>
            {{payment.month}}
        </td>        
        <td>
            <button class = "delete-btn" 
                    (click) = "delete(payment)">
                X
            </button>
        </td>

    </tr>

</table>
