<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"  lang="en">

<head>
    <meta charset="UTF-8">
    <title>Property Manager</title>
    <link rel="stylesheet" type="text/css" th:href="@{index.css}" />
</head>

<body>

<header id = "navbar">
    <nav class="nav-container">
        <p id = "navbar-title">Property Manager</p>
    </nav>
</header>

<main>
    <section>
        Instructions:
    </section>

    <section id="forms-container">
        <form action="#" th:action="@{/buildings}" method="get" >
            <button type="submit"> All Buildings </button>
        </form>

        <form action="#" th:action="@{/apartments}" method="get" >
            <button type="submit"> All Apartments </button>
        </form>

        <form action="#" th:action="@{/payments}" method="get" >
            <button type="submit"> All Payments </button>
        </form>
    </section>

    <table id="content-display">
        <thead>
            <tr>
                <th  class="table-header">
                    Id
                </th>
                <th  class="table-header">
                    Address
                </th>
                <th  class="table-header">
                    Delete
                </th>
                <th  class="table-header">
                    Edit
                </th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="building: ${buildings}">
                <td >
                    <a th:href="@{/apartments/byBuilding/{id}(id = ${building.buildingId})}" th:text="${building.buildingId}" > </a>
                </td>
                <td >
                    <a th:href="@{/apartments/byBuilding/{id}(id = ${building.buildingId})}" th:text="${building.address}"  > </a>
                </td>
                <td>
                    <button th:onclick = deleteBuilding([[${building.buildingId}]])>
                        Delete
                    </button>
                    <script>
                        function deleteBuilding(number) {
                        console.log("Success")
                        let xhr = new XMLHttpRequest()
                        xhr.open("Delete", `/buildings/${number}`, true)
                        xhr.onload = function(){
                            console.log("Reloading")
                            location.reload();
                        }
                        xhr.send()
                        }
                    </script>
                </td>
                <td> <a th:href="@{/buildings/edit/{id}(id=${building.buildingId})}"> Edit </a> </td>

                <br/>
            </tr>
        </tbody>
    </table>

</main>

<footer id="sign-off">
    <span id="sign-off-text">
        <p>&#169 Daniel Slattery &#8226 St. Louis, MO</p>
    </span>
</footer>

<!--&lt;!&ndash;Get building&ndash;&gt;-->
<!--<form action="#"-->
<!--      th:action="@{/buildings/byAddress}"-->
<!--      th:object = "${building}"-->
<!--      method="get">-->
<!--    <p>Building: <input type="text"-->
<!--                        field = "*{address}"-->
<!--                        name="address" /></p>-->
<!--    <button type="submit"> Get Building By Address </button>-->
<!--</form>-->








<!--<form action="#" th:action="@{/payments/allByApartment}" method="get">-->
<!--    <p>Apartment Id: <input type="text" th:name = "apartmentId" /></p>-->
<!--    <button type="submit"> Payments By Apartment </button>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->