<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>All Apartments in A Building</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>  Apartments at : </h1>
<h1  th:text = "${building.address}"> </h1>
<tr th:each="apartment: ${apartments}">
    <a th:href="@{/payments/byApartment/{id}(id = ${apartment.apartmentId})}" >
        Id: <td th:text="${apartment.apartmentId}" />,
        Number: <td th:text="${apartment.apartmentNumber}" /> <br/>
    </a>
</tr>

<form action="#"
      th:action="@{/apartments/byBuilding/add}"
      th:object = "${apartment}"
      method="post"
      field = "*{buildingId = building.buildingId}">
<!--    <p>Building Id:-->
<!--        <input type="text"-->
<!--               field = "*{buildingId}"-->
<!--               name="buildingId"/></p>-->
    <p>Apartment Number:
        <input type="text"
               field = "*{apartmentNumber}"
               name="apartmentNumber"/></p>
    <button type="submit"> Submit New Apartment </button>
</form>

</body>
</html>