<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>All Apartments in A Building</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>  Apartments at : </h1>
<h1  th:text = "${building.address}"> </h1>
<tr th:each="apartment: ${apartments}">
    <a th:href="@{/payments/byApartment/{id}(id = ${apartment.apartmentId})}" >
        Id: <td th:text="${apartment.apartmentId}" />,
        Number: <td th:text="${apartment.apartmentNumber}" />
    </a>
    <br/>
    <td>
        <button th:onclick = deleteApartment([[${apartment.apartmentId}]])>
            Delete
        </button>
        <script>
            function deleteApartment(number) {
            console.log("Success")
            let xhr = new XMLHttpRequest()
            xhr.open("Delete", `/apartments/${number}`, true)
            xhr.onload = function(){
                location.reload();
            }
            xhr.send()
            }
        </script>
    </td>
        <td> <a th:href="@{/apartments/byBuilding/edit/{id}(id=${apartment.apartmentId})}"> Edit </a> </td>
    <br/>
</tr>
<!--      th:action="@{/apartments/byBuilding/{buildingId}/add(buildingId = ${building.buildingId})}"-->
<form>
    <p>Apartment Number:
        <input type="text"
               id="apartmentNumber"
        />
    </p>
<!--    onclick function activated. "return false" prevents form from reloading page".-->
    <button id="submitNewApartment">
        Submit New Apartment
    </button>
        <script>
            button = document.getElementById('submitNewApartment');

            //event is automatically passed into the listener function, addApartment
            button.addEventListener("click", addApartment);

            function addApartment(event) {
            apartmentNumber = document.getElementById('apartmentNumber').value;
            console.log("Success:", [[${building.buildingId}]], apartmentNumber)
            event.preventDefault();

            let xhr = new XMLHttpRequest()
            xhr.open("Post", `/apartments`, true)
            let formData = new FormData();
            formData.append("buildingId",[[${building.buildingId}]]);
            formData.append("apartmentNumber", apartmentNumber);

            xhr.onload = function(){
                location.reload();
            }
            xhr.send(formData)

            }

        </script>
</form>

</body>
</html>