<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>All Apartments in A Building</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>  Apartments at : </h1>
<h1  th:text = "${building.address}"> </h1>
<tr th:each="apartment: ${apartments}">
    <a th:href="@{/payments/byApartment/{id}(id = ${apartment.apartmentId})}" >
        Id: <td th:text="${apartment.apartmentId}" />,
        Number: <td th:text="${apartment.apartmentNumber}" />
    </a>
    <br/>
    <td>
        <button th:onclick = deleteApartment([[${apartment.apartmentId}]])>
            <!--           th:href="@{/payments/byApartment/{apartmentId}/delete/{paymentId}(apartmentId=${payment.apartmentId}, paymentId=${payment.paymentId})}"> -->
            Delete
        </button>
        <script>
            function deleteApartment(number) {
            console.log("Success")
            let xhr = new XMLHttpRequest()
            xhr.open("Get", `/Apartments/delete/${number}`, true)
            xhr.onload = function(){
                location.reload();
            }
            xhr.send()
            }
        </script>
    </td>
        <td> <a th:href="@{/apartments/byBuilding/edit/{id}(id=${apartment.apartmentId})}"> Edit </a> </td>
    <br/>
</tr>

<form action="#"
      th:action="@{/apartments/byBuilding/{buildingId}/add(buildingId = ${building.buildingId})}"
      th:object = "${apartment}"
      method="post"
      field = "*{buildingId = building.buildingId}">
    <p>Apartment Number:
        <input type="text"
               field = "*{apartmentNumber}"
               name="apartmentNumber"/></p>
    <button type="submit"> Submit New Apartment </button>
</form>

</body>
</html>