<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>All Payments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>List All Payments</h1>
<tr th:each="payment: ${payments}">
    <a th:href="@{/payments/{id}(id = ${payment.paymentId})}" >
        Id: <td th:text="${payment.paymentId}" />,
        Apartment Id: <td th:text="${payment.apartmentId}" />
        Month: <td th:text="payment.month" />
        Amount: <td th:text="${payment.paymentAmount}" />
<!--        <td> <a th:href="@{/payments/delete/{id}(id=${payment.paymentId})}"> Delete </a> </td>-->
<!--        <td> <a th:href="@{/payments/edit/{id}(id=${payment.paymentId})}"> Edit </a> </td>-->
    </a>
    <br/>
</tr>
</body>
</html>