<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>All Payments by an Apartment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>  Payments By : </h1>
<h1  th:text = "${apartment.apartmentNumber}"> </h1>
<tr th:each="payment: ${payments}">
    <a th:href="@{/payments/{id}(id = ${payment.paymentId})}" >
        Id: <td th:text="${payment.paymentId}" />
    </a>
        , Payment Amount: <td th:text="${payment.paymentAmount}" />
        , Month: <td th:text="${payment.month}" />
    <br/>
    <td>
        <button th:onclick = deletePayment([[${payment.paymentId}]])>
        Delete
        </button>
        <script>
            function deletePayment(number) {
            console.log("Success")
            let xhr = new XMLHttpRequest()
            xhr.open("Get", `/payments/delete/${number}`, true)
            xhr.onload = function(){
                location.reload();
            }
            xhr.send()
            }
        </script>
    </td>
    <td> <a th:href="@{/payments/byApartment/edit/{id}(id=${payment.paymentId})}"> Edit </a> </td>
    <br/>
</tr>

<!--Add new payment-->
<form>
    <p>Payment Amount: <input type="text" id = "paymentAmount" /></p>
    <p>Month: <input type="text" id = "month" /></p>
    <button type="submit" id = "submitNewPayment"> Submit New Payment </button>
    <script>
            button = document.getElementById('submitNewPayment');

            //event is automatically passed into the listener function, addApartment
            button.addEventListener("click", addPayment);

            function addPayment(event) {
            paymentAmount = document.getElementById('paymentAmount').value;
            month = document.getElementById('month').value;

            console.log("Success:", [[${apartment.buildingId}]], [[${apartment.apartmentId}]])
            event.preventDefault();

            let xhr = new XMLHttpRequest()
            xhr.open("Post", `/payments/add`, true)
            let formData = new FormData();
            formData.append("buildingId",[[${apartment.buildingId}]]);
            formData.append("apartmentId",[[${apartment.apartmentId}]]);
            formData.append("paymentAmount", paymentAmount);
            formData.append("month", month);

            xhr.onload = function(){
                location.reload();
            }
            xhr.send(formData)

            }


    </script>
</form>


</body>
</html>