<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>All Payments by an Apartment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>  Payments By : </h1>
<h1  th:text = "${apartment.apartmentNumber}"> </h1>
<tr th:each="payment: ${payments}">
    <a th:href="@{/payments/{id}(id = ${payment.paymentId})}" >
        Id: <td th:text="${payment.paymentId}" />
    </a>
        , Payment Amount: <td th:text="${payment.paymentAmount}" />
        , Month: <td th:text="${payment.month}" />
    <br/>
    <td> <a th:href="@{/payments/byApartment/{apartmentId}/delete/{paymentId}(apartmentId=${payment.apartmentId}, paymentId=${payment.paymentId})}"> Delete </a> </td>
    <td> <a th:href="@{/payments/byApartment/edit/{id}(id=${payment.paymentId})}"> Edit </a> </td>
    <br/>
</tr>

<!--Add new payment-->
<form action="#" th:action="@{/payments/add}" method="post">
    <p>Building Id: <input type="text" th:name = "buildingId" /></p>
    <p>Apartment Id: <input type="text" th:name = "apartmentId" /></p>
    <p>Payment Amount: <input type="text" th:name = "paymentAmount" /></p>
    <p>Month: <input type="text" th:name = "month" /></p>
    <button type="submit"> Submit New Payment </button>
</form>


</body>
</html>